<% content_for :title, "Add New Task" %>
<div class="starter-template">
  <div class="card" style="width: 40rem; margin:auto">
    <div class="card-header">
      <h3>Add New Task</h3>
    </div>
    <%= render partial: "form" %>
  </div>
</div>